*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(14, 202, 155);
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  background: #777;
  color: rgba(59, 59, 59, 0.644);
}

.container {
  padding: 120px;
}

section.sec-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 600px; */
  top: 0%;
  left: 0%;
  /* transform: translate(-50%, 0); */

  background: white;
  color: rgb(65, 65, 65);
  border-radius: 5px;
  box-shadow: 0 0 40px rgb(27, 27, 27);
}

header {
  /* position: absolute; */
  background: var(--primary-color);
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  padding: 14px;
  color: white;
  box-shadow: 0 4px 14px -8px rgb(182, 182, 182);
}

h2 {
  margin: 0;
}

.overlay-content {
  padding: 10px 30px;
  max-height: 200px;
  overflow: auto;
}

aside {
  position: absolute;
  top: -80px;
  right: 10px;
  width: 70px;
  height: 70px;
  transition: 0.4s;
}

.checkbox {
  position: absolute;
  width: 60px;
  height: 60px;
  /* top: 50%; */
  left: 68%;
  opacity: 0.6;
}

.checkbox:checked ~ main {
  --primary-color: rgb(255, 148, 9);
}

.x::before,
.x::after {
  position: absolute;
  top: 30px;
  right: 10px;
  content: "";
  width: 50px;
  height: 8px;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
  border-radius: 6px;
}

.x::after {
  transform: rotate(135deg);
}

footer {
  /* position: absolute; */
  background: white;
  border-top: 1px solid rgb(216, 216, 216);
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 70px;
  top: 331px;
  color: white;
  padding: 20px;
  box-shadow: 0 -4px 14px -8px rgb(211, 211, 211);
  display: flex;
  justify-content: space-between;
}

button {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  /* padding: 10px; */
}

.left {
  color: var(--primary-color);
  background: transparent;
}

.right {
  color: white;
  border: 1px solid rgb(202, 152, 36);
  background: var(--primary-color);
}

.html-body {
  --primary-color: rgb(119, 0, 0);
}

/* ---------------------------------
* media query
* ---------------------------------- */

@media (max-width: 600px) {
  section.sec-overlay {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .container {
    padding: 40px;
  }
}
